<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<link rel="stylesheet" href="/public/stylesheets/login_register.css">
		<title>Login</title>
	</head>

	<body>
		<h1>Login</h1>

		<form action="#" method="post">
			<div class="input_area">
				<label for="username">Username</label>
				<input type="text" class="login_text" name="username" placeholder="Input Username">
			</div>
			<div class="input_area">
				<label for="password">Password</label>
				<input type="text" class="login_text" name="password" placeholder="Input Password">
			</div>
			<input type="submit" value="Login">
			<p>Don't have an account yet? <a href="/register">Register</a> now!</p>
		</form>

	</body>

</html>