<!DOCTYPE html>
<html lang="en">

	<head>

		<%-include('components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/search.css">
		<link rel="stylesheet" href="/public/stylesheets/game/games.css">
		<title>Search</title>
	</head>

	<body class="flex-box">
		<header>
			<%-include('components/navbar', {page:"search"})%>
		</header>
		<main>

			<div class="search_area">
				<input type="text" name="search" id="search" placeholder="Search...">
				<span class="material-symbols-rounded">
					search
				</span>
			</div>

			<ul class="search_categories" id="search_categories">
				<li onclick="changeCategory(0)" id="active_category">
					<span class="material-symbols-rounded">
						workspaces
					</span>
					<p class="description">
						All
					</p>
				</li>
				<li onclick="changeCategory(1)">
					<span class="material-symbols-rounded">
						groups
					</span>
					<p class="description">
						Games
					</p>
				</li>
				<li onclick="changeCategory(2)">
					<span class="material-symbols-rounded">
						person
					</span>
					<p class="description">
						People
					</p>
				</li>
			</ul>
			<div class="result_area" id="result_area">
				<div class="empty_result">Search for a user or game...</div>
			</div>
		</main>
	</body>
	<script src="/public/javascripts/search.js"></script>

</html>