.iconButton {
	display: flex;
	text-decoration: none;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	min-width: 72px;
	min-height: 72px;
	justify-content: center;
	align-items: center;
	background-color: var(--colorText);
	color: var(--colorBackground);
	font: var(--dFontDesription);
	border-radius: var(--border-radius);
}
.iconButton:hover {
	background-color: var(--colorTextActive);
	color: var(--colorBackground);
	box-shadow: 0px 0px 12px var(--colorTextActive);
}
.iconButton span {
	color: var(--colorBackground);
	font-size: 32px;
}
