:root {
	/*Colors*/
	--colorBackground: #272935;
	--colorHeading: #b3e59a;
	--colorSubtitle: #fed090;
	--colorSubtitleActive: #ffcc80;
	--colorText: #e0e2db;
	--colorTextActive: #b2b5ad;
	--colorLink: #fbcbd5;
	--colorLinkActive: #ffbac8;
	/*Fonts (d=Desktop, m=Mobile)*/
	--dFontHeading: 48px 'Montserrat';
	--dFontSubtitles: 32px 'Montserrat';
	--dFontButton: 24px 'Roboto';
	--dFontBigText: 24px 'Roboto';
	--dFontText: 20px 'Roboto';
	--dFontDesription: 12px 'Roboto';

	/*Border*/
	--borderLight: solid 2px var(--colorText);
	--borderDark: solid 2px var(--colorBackground);
	--borderGreen: solid 2px var(--colorHeading);
	--borderOrange: solid 2px var(--colorSubtitle);
	--borderOrangeActive: solid 2px var(--colorSubtitleActive);
	--borderPink: solid 2px var(--colorLink);
	--borderPinkActive: solid 2px var(--colorLinkActive);

	--border-radius: 16px;
}
*:not(script):not(title) {
	box-sizing: border-box;
}
* {
	color: var(--colorText);
	font: var(--dFontText);
}

body {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	padding: 48px 48px;
	background-color: var(--colorBackground);
}

.flex-box {
	display: flex;
	flex-direction: row;
}

.center {
	align-items: center;
	justify-content: center;
}
.vertical {
	flex-direction: column;
}

.heading,
h1 {
	font: var(--dFontHeading);
	font-weight: bold;
	color: var(--colorHeading);
}

.subtitle,
h2 {
	font: var(--dFontSubtitles);
	font-weight: medium;
	color: var(--colorSubtitle);
}

.text {
	font: var(--dFontText);
	font-weight: normal;
	color: var(--colorText);
}

.link,
a {
	font: var(--dFontText);
	font-weight: medium;
	color: var(--colorLink);
	text-decoration: underline;
}
.link:hover,
a:hover {
	color: var(--colorLinkActive);
}

.textBig,
.input_field input {
	font: var(--dFontBigText);
	font-weight: normal;
	color: var(--colorText);
}

.description,
.input_field label {
	font: var(--dFontDesription);
	font-weight: light;
	color: var(--colorText);
}

.back {
	transition: all ease-in-out 300ms;
	position: fixed;
	top: 16px;
	left: 16px;
	color: var(--colorText);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	border-radius: calc(var(--border-radius) / 2);
}
.back:hover {
	cursor: pointer;
}
.back:hover * {
	color: var(--colorTextActive);
}
