.signup_options {
	display: flex;
	gap: 24px;
	align-items: center;
	width: fit-content;
	padding: 48px 0;
}
.text_area {
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.content {
	display: flex;
	height: fit-content;
	width: fit-content;
	align-items: center;
	justify-content: center;
	gap: 64px;
	box-shadow: 0px 0px 12px var(--colorText);
	padding: 24px 32px;
	border-radius: var(--border-radius);
}
.content svg {
	max-height: 400px;
	width: auto;
}

@media (max-width: 1080px) {
	body {
		padding: 0;
	}
	.content {
		box-shadow: none;
	}
	.content svg {
		display: none;
	}
	.signup_options {
		align-self: center;
	}
}
