.dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
}
.dropdown select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 12px 24px;
	background-color: transparent;
	border: var(--borderLight);
	border-radius: var(--border-radius);
	color: var(--colorText);
	cursor: pointer;
}

.dropdown select:focus {
	outline: none;
	border: var(--borderGreen);
}

.dropdown::after {
	transition: all ease-in-out 300ms;
	content: '';
	position: absolute;
	top: calc(50%);
	right: 16px;
	width: 8px;
	height: 8px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: var(--colorText);
	transform: rotate(45deg);
}
.dropdown:focus-within::after {
	transform: rotate(360deg);
	border-width: 0 0 2px 0;
}

/* Dropdown Label */
.dropdown label {
	transform: translate(24px, 50%);
	background-color: var(--colorBackground);
	padding: 0 12px;
	margin: 0;
	width: fit-content;
	transition: all ease-in-out 300ms;
}

.dropdown:focus-within label {
	color: var(--colorHeading);
}

/* Change the white to any color */
.dropdown select:-webkit-autofill,
.dropdown select:-webkit-autofill:hover,
.dropdown select:-webkit-autofill:focus,
.dropdown select:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--colorBackground) inset !important;
	-webkit-text-fill-color: var(--colorText) !important;
	font-size: 24px;
}

.dropdown select option {
	background-color: var(--colorBackground);
	color: var(--colorText);
}
