.input_form {
	width: 600px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
